@model Brand
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase text-center ">Create Brand</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 border-1 border">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label"></label>
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ManufacturingDate" class="form-label"></label>
                    <input asp-for="@Model.ManufacturingDate" class="form-control" />
                    
                    <span asp-validation-for="@Model.ManufacturingDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ExpiredDate" class="form-label"></label>
                    <input asp-for="@Model.ExpiredDate" class="form-control" />
                    <span asp-validation-for="@Model.ExpiredDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.BrandImage" class="form-label"></label>
                    <input type="file" name="files" id="uploadBox" class="form-control" />
                </div>
                <div class="mb-3">
                    <a asp-controller="Brand" asp-action="Index" class="btn btn-danger">Back</a>
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>

            </form>
        </div>
        <div class="col-md-4">
            @if(Model.BrandImage != null)
            {
                <img src="@Model.BrandImage" width="100%"/>

            }

        </div>

    </div>

</div>
@section scripts {
    <partial name="_ValidationScriptsPartial" />
}